@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  box-sizing: border-box;
}
:root {
  --darkGreen: rgb(57, 89, 62);
  --tan: rgb(200, 199, 151);
}
body{
  font-family: Roboto, san-serif;
  max-width: 100%; 
  padding: 1rem;
}
.styled-header{
  background-color: var(--darkGreen);
  color: var(--tan);
  padding: 0.5rem;
}
header {
  margin-bottom: 2rem;
}
input, select {
  padding: 0.5rem 0.25rem;
  border: 1px solid #cccccc
}
.search-and-filter { 
  display: flex;
  justify-content: space-between;
}
.customer-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}
.customer-table th {
  text-align: left;
}
th, td {
  padding: 0.5rem 0.25rem;
}
.customer-table thead {
  border-bottom: 1px solid #cccccc;
}
.add-new {
  max-width: 300px;
}
.add-new input, .add-new select {
  display: block;
  margin-bottom: 0.5rem;
  width: 300px;
}

.form-and-drop {
  display: flex;
  justify-content: space-between;
}
.active-sort{
  background-color: blue;
  border: none;
  color: white;
}

